[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "*"
requests = "*"

[dev-packages]
yapf = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3"
